@import "common/styles/sass/variables";
@import "common/styles/sass/mixins";

.projectsBlock {
  padding: 130px 0;

  .projectsContainer {
    @include container();
    @include flex(column, flex-start, center, nowrap);

    .projects {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 30px;
      align-items: flex-start;
      @media (max-width: 1147px) {
        justify-content: center;
      }
    }
  }
}