@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.nav {
    width: 350px;
    @include flex(row, space-around, stretch, nowrap);
    & a {
        cursor: pointer;
        @include text($textFontFamily, 16px, 1.8, 400);
        &:hover {
            text-decoration: none;
            color: $primaryColor;
        }
    }
    .active {
        color: $primaryColor;
    }
    @media screen and (max-width: 400px) {
        display: none;
    }
}