@import "./sass/variables";
@import "./sass/mixins";

.customButton {
    padding: 7px 20px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    max-width: 170px;
    margin: 15px auto;
    z-index: 22;
    position: relative;
    background: transparent;
    transition: all 0.4s ease-in-out 0s;
    width: 100%;
    border: none;
    color: $textColor;
    @include text($textFontFamily, 14px, 1.2, $textColor);
    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 10px;
        width: 50%;
        background: #4e93e6;
        z-index: -1;
        transition: all 0.2s ease-in-out 0s;
        margin: 0 auto;
    }
}