.mainBlock {
    background-color: #f1afbb;
}

.contactContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.text {
    background-color: #f7f7f7;
}

.form {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a7e7a7;
}

.form input, .form textarea {
    width: 100%;
}

.button {
    padding: 10px 20px;
    background-color: #f7f7f7;
}

@media screen and (max-width: 635px) {
    .form {
        width: 100%;
    }
}
