@import "common/styles/sass/variables";
@import "common/styles/sass/mixins";

.skillsBlock {
  padding: 100px 0;

  .skillsContainer {
    @include container();
    @include flex(column, flex-start, center, wrap);

    .skills {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      box-sizing: border-box;
      margin-top: 30px;
      @media (max-width: 771px) {
        justify-content: center;
      }
    }
  }
}