.mainBlock {
    min-height: 20vh;
    background-color: #ffd4f0;
}

.freelanceContainer {
    flex-direction: column;
    justify-content: center;
}

.text {
    background-color: #f7f7f7;
}

.button {
    padding: 10px 20px;
    background-color: #f7f7f7;
}