.skillsBlock {
    min-height: 100vh;
    background-color: #d4ffc0;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}

@media screen and (max-width: 771px) {
    .skills {
        justify-content: center;
    }
}