@import "common/styles/sass/variables";
@import "common/styles/sass/mixins";

.header {
    position: sticky;
    top: 0;
    height: 80px;
    z-index: 1;
    box-shadow: 0 0 13px 1px $primaryColor;
    @include flex(row, flex-end, center, nowrap);
}