@import "../../styles/sass/variables";
@import "../../styles/sass/mixins";

.btn {
  border: none;
  @include flex(row, center, center, nowrap);
  @include text($textFontFamily, 14px, 1.2, 400);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 8px 20px;
  max-width: 160px;
  width: 100%;
  outline: none;
  position: relative;
  z-index: 0;
  text-decoration: none;
  align-self: center;
  background-color: transparent;
  margin-top: 30px;

  &::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 10px;
    background: $primaryColor;
    bottom: 0;
    z-index: -1;
    transition: all 0.2s ease-in-out;

    @media screen and (max-width: 450px) {
      width: 100%;
      height: 110%;
    }
  }

  &:hover {
    color: $textColor;
    text-decoration: none;

    &::after {
      width: 100%;
      height: 110%;
      transition: all 0.3s ease-in-out 0s;
    }
  }
}