.mainBlock {
    background-color: #ffd4f0;
}

.footerContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.text {
    background-color: #f7f7f7;
}

.links {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #dac5ee;
}

.link {
    width: 50px;
    height: 50px;
    background-color: darkgrey;
}

.copyright {

}