.mainBlock {
    min-height: 30vh;
    background-color: #ffd4f0;
}

.footerContainer {
    min-height: 300px;
    flex-direction: column;
    justify-content: space-between;
}

.text {
    background-color: #f7f7f7;
    text-align: center;
}

.links {
    height: 100px;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.link {
    width: 100px;
}

.copyright {
    text-align: center;
    background-color: #f7f7f7;
}