@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";
@import "../../common/components/button/Button.module";

.mainBlock {
  padding: 130px 0;

  .contactContainer {
    @include container();
    @include flex(column, flex-start, center, nowrap);

    .form {
      @include flex(column, flex-start, stretch, nowrap);
      width: 500px;
      margin-top: 30px;

      & input, & textarea {
        box-sizing: border-box;
        background: $bgSecondColor;
        border: 1px solid $thirdColor;
        outline: none;
        margin-bottom: 1.2rem;
        @include text($textFontFamily, 12px, 1.5, 400);

        &:-webkit-autofill {
          border: 1px solid $thirdColor;
          -webkit-text-fill-color: $textColor;
          -webkit-box-shadow: 0 0 0 1000px black inset;
          transition: background-color 5000s ease-in-out 0s;

          &:focus {
            border: 2px solid $bgSecondColor
          }
        }
      }

      .input {
        height: calc(1.5em + .75rem + 2px);
        padding: .4rem 15px;

        &:focus {
          border: 1px solid transparent;
          transition: all 0.4s ease-in-out 0s;
        }
      }

      .area {
        min-height: 160px;
        padding: 15px;
        resize: none;

        &:focus {
          border: 1px solid transparent;
          transition: all 0.4s ease-in-out 0s;
        }
      }

      button[type="submit"] {
        @extend .btn;
      }

      @media screen and (max-width: 690px) {
        width: 90%;
      }
    }
  }
}